<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">
    
    <extensions>
        <add assembly="NLog.DiagnosticSource"/>
    </extensions>

    <variable name="logPrefix" value="[${longdate}] [${pad:padding=-2:fixedlength=true:inner=${threadid}}] [${pad:padding=-5:fixedlength=true:inner=${level}}] [${pad:padding=-50:fixedlength=true:inner=${logger}}]"/>
    <variable name="layout" value="${logPrefix} ${message}"/>
    
    <!-- the targets to write to -->
    <targets>
        <target xsi:type="ColoredConsole"
                layout="${layout}"
                name="console"
                useDefaultRowHighlightingRules="false"
        >
            <highlight-row foregroundColor="DarkGray" condition="level == LogLevel.Debug"/>
            <highlight-row foregroundColor="Red" condition="level == LogLevel.Error"/>
            <highlight-row foregroundColor="DarkMagenta" condition="level == LogLevel.Warn"/>
            <highlight-word regex="\[\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d+\]\s\[.*\]\s\[.*\]\s\[.*\]\s" foregroundColor="Blue"/>
        </target>
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <logger name="*" minlevel="Debug" writeTo="console" />
    </rules>

    <!-- TODO: add loki -->
</nlog>