source https://www.nuget.org/api/v2

git https://github.com/Dolfik1/Funogram.git master build: dotnet restore ./src/Funogram.Telegram/Funogram.Telegram.fsproj
nuget CliWrap 3.4.4
nuget Microsoft.Extensions.Logging 6.0.0
nuget Newtonsoft.Json 13.0.1
nuget Serilog.Extensions.Logging 3.1.0
nuget Serilog.Sinks.Console 4.0.1
