source https://www.nuget.org/api/v2

git https://github.com/Dolfik1/Funogram.git master build: dotnet pack ./src/Funogram.Telegram/Funogram.Telegram.fsproj -c Release --nologo, Packages: /src/Funogram.Telegram/bin/Release/
nuget Funogram.Telegram

nuget Microsoft.Extensions.Logging
nuget Serilog.Extensions.Logging
nuget Serilog.Sinks.Console
nuget FSharp.SystemTextJson
nuget NUnit
nuget Microsoft.NET.Test.Sdk
nuget FParsec
nuget Akka.FSharp
nuget Tdesu.CliWrap.Fsharp
nuget FSharp.Control.TaskSeq
nuget SpotifyAPI.Web
nuget SpotifyAPI.Web.Auth
nuget AspNet.Security.OAuth.Spotify
nuget Giraffe
nuget Dapper.FSharp
nuget Microsoft.Data.Sqlite
nuget VideoLibrary

nuget NLog
nuget NLog.Schema
nuget NLog.Web.AspNetCore
nuget NLog.Targets.Loki

nuget OpenTelemetry
nuget OpenTelemetry.Exporter.Console
nuget OpenTelemetry.Extensions.Hosting
nuget OpenTelemetry.Instrumentation.AspNetCore
