source https://www.nuget.org/api/v2

git https://github.com/Dolfik1/Funogram.git master build: dotnet pack ./src/Funogram.Telegram/Funogram.Telegram.fsproj -c Release --nologo, Packages: /src/Funogram.Telegram/bin/Release/
nuget Funogram.Telegram

nuget CliWrap
nuget Microsoft.Extensions.Logging
nuget Serilog.Extensions.Logging
nuget Serilog.Sinks.Console
nuget FSharp.SystemTextJson
nuget NUnit
nuget Microsoft.NET.Test.Sdk
nuget FParsec
nuget Akka.FSharp
nuget Tdesu.CliWrap.Fsharp
nuget FSharp.Control.TaskSeq
